.app-request {
  transition: padding .4s;
  @media (min-width: $desktop) {
    border: 2px solid $light-blue;
    padding: 45px 25px;
  }

}

.app-request__wrap-number {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.app-request__title {
  width: 100%;
  text-align: center;
}

.app-request__input {
  border: none;
  width: 60px;
  text-align: center;
  outline: none;
  border-bottom: 1px solid currentColor;

  &:hover {
    border-bottom: 1px solid $light-blue;
  }

  &:focus {
    color: $light-blue;
  }

}

.app-request__all-request {
  padding: 0 5px;

  &::before {
    content: '/';
    padding-left: 10px;
    padding-right: 10px;
  }
}

.app-request__wrap {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-around;
  }
}
