.calculated-data__title {
  font-size: 20px;
  display: flex;
  align-items: center;

  &::after {
    content: '';
    margin-bottom: -3px;
    height: 2px;
    flex-grow: 1;
    background: #00AEC7;
    margin-left: 15px;
  }
}

.calculated-data__wrap {
  padding-bottom: 20px;
  padding-left: 30px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 12px;
    height: 3px;
    width: 20px;
    background: #00AEC7;
  }
}

.calculated-data__field {
  margin: 0;
  padding-bottom: 5px;
  font-size: 18px;
}

.calculated-data__value {
  margin: 0;
  font-weight: 300;
}

.calculated-data__btn.calculated-data__btn--next {
  margin-bottom: 20px;
}