.card {
  width: 320px;
  display: flex;
  position: relative;
  flex-direction: column;

  &__container:hover {
    & .card__main,
    & .card__top {
      border-color: $hover-card;
    }
    & .card__triangle {
      color: $hover-card;
      background: linear-gradient(-45deg, white 0, white 32px, $hover-card 32px, $hover-card 36px, transparent 34px);
    }
    & .card__weight-wrap {
      background-color: $hover-card;
    }
  }

  &.active {
    & .card__main,
    & .card__top {
      border-color: $active-card;
    }
    & .card__triangle {
      color: $active-card;
      background: linear-gradient(-45deg, white 0, white 32px, $active-card 32px, $active-card 36px, transparent 34px);
    }
    & .card__weight-wrap {
      background-color: $active-card;
    }

    &:hover {
      & .card__main,
      & .card__top {
        border-color: $active-card--hover;
      }
      & .card__triangle {
        color: $active-card--hover;
        background: linear-gradient(-45deg, white 0, white 32px, $active-card--hover 32px, $active-card--hover 36px, transparent 34px);
      }
      & .card__weight-wrap {
        background-color: $active-card--hover;
      }
    }
  }

  @media (min-width: $tablet) {
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop) {
    margin-left: 0;
    margin-right: 0;
  }
}

.card__top {
  width: 273px;
  height: 40px;
  margin-left: auto;
  border: 4px solid $default-card;
  background:white;
  border-bottom: none;
  border-left: none;
  position: relative;
  border-top-right-radius: 10px;
  z-index: 2;
  position: relative;
  z-index: 1;
}

.card__desc {
  margin: 0;
  padding-top: 15px;
  position: relative;
  z-index: 1;
}

.card__triangle {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: $default-card;
  z-index: 1;
  width: 48px;
  height: 41px;
  background: linear-gradient(-45deg, white 0, white 32px, $default-card 32px, $default-card 36px, transparent 34px);

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 7px;
    height: 4px;
    background-color: currentColor;
    right: 1px;
    top: 0;
  }
}

.card__main {
  background-color: white;
  border: 4px solid $default-card;
  min-height: 440px;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: url('../img/cat.png');
  background-repeat: no-repeat;
  background-position: -29px 162px;
  padding-left: 43px;
  display: flex;
  flex-direction: column;
  padding-bottom: 11px;
  padding-right: 11px;
  position: relative;
  z-index: 1;
}

.card__title {
  font-size: 48px;
  margin: 0;
  font-weight: 700;
}

.card__fill {
  margin-bottom: 15px;
  font-size: 24px;
}

.card__wrap {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 16px;
}

.card__portions {
  font-size: 14px;
  line-height: 16px;
}

.card__weight-wrap {
  color: $white;
  margin-top: auto;
  margin-left: auto;
  border-radius: 50%;
  background-color: $default-card;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  align-items: center;
}

.card__weight-num {
  font-size: 42px;
}

.card__to-weight {
  font-size: 21px;
  margin-top: -10px;
}

.card__footer {
  color: white;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

.card__buy {
  margin: 0;
  padding-right: 9px;
  padding-bottom: 10px;
  padding-top: 12px;
  padding-left: 6px;

  &-link {
    color: $blue;
    text-decoration: none;
    border-bottom: 1px dashed currentColor;
  }
}

.card.card--disabled,
.card.active.card--disabled {
  & .card__desc {
    user-select: none;
  }
  & .card__top::before,
  & .card__main::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $white;
    opacity: .5;
    z-index: 2;
  }
  & .card__main,
  & .card__top {
    border-color: $disabled-card;
  }
  & .card__triangle {
    color: $disabled-card;
    background: linear-gradient(-45deg, white 0, white 32px, $disabled-card 32px, $disabled-card 36px, transparent 34px);
  }
  & .card__weight-wrap {
    background-color: $disabled-card;
  }
  & .card__buy {
    color: $disabled-card--text;
  }
}