.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    flex-direction: row;
    &__wrap:first-child {
      width: 100%;
    }
    justify-content: space-evenly;
  }

  @media (min-width: $desktop) {
    justify-content: space-around;
    &__wrap:first-child {
      width: auto;
    }
  }
}

.card-list__wrap {
  margin-bottom: 30px;
}