// COLORS
$blue: #1698d9;
$light-blue: #2ea8e6;
$pink: #d91667;
$light-pink: #e62e7a;
$light-grey: #b3b3b3;
$white: white;
$yellow: #ffff66;

// CTATES COLOR
$default-card: $blue;
$hover-card: $light-blue;
$active-card: $pink;
$active-card--hover: $light-pink;
$disabled-card: $light-grey;
$disabled-card--text: $yellow;

// WIDTH
$desktop: 1200px;
$tablet: 860px;